.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}

.index_container {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.promo {
    font-size: 30px;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.promocoes {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.nome {
    font-size: 40px;
}

.box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: black;
    background-color: #fff;
    outline: none;
    transition: .5s;
}

.box:hover input {
    width: 350px;
    background: #fff;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: black;
    transition: .2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}

@media screen and (min-width: 1200px) {
    .header {
        margin-left: auto;
    }
    body {
        margin: 3rem 0 0 0;
    }
    .title-shop {
        margin: 0 5rem;
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}