<div class="logo_content">
    <div class="logo">
        <i class="fas fa-shopping-cart"></i>
        <div class="logo_name">
            Mercadinho da Zaply
        </div>
    </div>
</div>
<i class="fas fa-bars" id="btn" onclick="navbarOpener()"></i>
<!--Navbar Body Start-->
<ul class="nav_list">
    <!--Dashboard-->
    <li>
        <a href="index.html">
            <i class="fas fa-home"></i>
            <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
    </li>
    <li>
        <a href="bazar.html">
            <i class="fas fa-futbol"></i>
            <span class="links_name">Bazar E Utilidades</span>
        </a>
        <span class="tooltip">Bazar</span>
    </li>
    <!--Characters-->
    <li>
        <a href="mercearia.html">
            <i class="fas fa-egg"></i>
            <span class="links_name">Mercearia</span>
        </a>
        <span class="tooltip">Mercearia</span>
    </li>
    <!--Chat-->
    <li>
        <a href="laticinios.html">
            <i class="fas fa-cheese"></i>
            <span class="links_name">Laticínios</span>
        </a>
        <span class="tooltip">Laticínios</span>
    </li>
    <!--Analytics-->
    <li>
        <a href="perfumaria.html">
            <i class="fas fa-flask"></i>
            <span class="links_name">Perfumaria e Beleza</span>
        </a>
        <span class="tooltip">Perfumaria</span>
    </li>
    <!--File Manager-->
    <li>
        <a href="limpeza.html">
            <i class="fas fa-shower"></i>
            <span class="links_name">Limpeza</span>
        </a>
        <span class="tooltip">Limpeza</span>
    </li>
    <!--Shop Cart-->
    <li>
        <a href="hortifruti.html">
            <i class="fas fa-apple-alt"></i>
            <span class="links_name">Hortifruti</span>
        </a>
        <span class="tooltip">Hortifruti</span>
    </li>
    <!--Favorites-->
    <li>
        <a href="padaria.html">
            <i class="fas fa-bread-slice"></i>
            <span class="links_name">Padaria</span>
        </a>
        <span class="tooltip">Padaria</span>
    </li>
    <!--Settings-->
    <li>
        <a href="bebidas.html">
            <i class="fas fa-beer"></i>
            <span class="links_name">Bebidas</span>
        </a>
        <span class="tooltip">Bebidas</span>
    </li>
    <li>
        <a href="congelados.html">
            <i class="fas fa-pizza-slice"></i>
            <span class="links_name">Frios E Congelados</span>
        </a>
        <span class="tooltip">Congelados</span>
    </li>
</ul>
<!--Navbar Body End-->
<!--Navbar User Profile Start-->

<!--Navbar User Profile End-->