<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Mercadinho Zaply</title>
    <!--Custom Css-->
    <link rel="stylesheet" href="../css/side.css">
    <link rel="stylesheet" href="../css/cards.css">
    <!--Fonts and Icons-->
    <script src="https://code.jquery.com/jquery-3.6.0.js " integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin=" anonymous "></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta name="viewport " content="width=device-width, initial-scale=1.0 ">
</head>

<body>


    <nav id="navSidebar" class="sidebar"></nav>

    <div class="container">

        <h1 class="title-shop">Perfumaria E Beleza</h1>
        <main class="main bd-grid">

        </main>

    </div>


    <!--Main Body End-->
    <!--JS Scripts Start-->
    <script src="../js/script.js"></script>
    <script>
        category = "Perfumaria E Beleza";
    </script>



    <!--JS Scripts End-->

</body>

</html>